# Hướng dẫn 7b: Quy nạp dữ liệu

Bài viết này bao gồm:

* Phương pháp xóa
- Xóa các đặc trưng chưa hoàn thiện
- Xóa các trường hợp chưa hoàn thiện

* pandas
- Quy nạp đơn giản bằng pandas
- Quy nạp nội suy bằng pandas

* sklearn
- Quy nạp đơn giản bằng sklearn
- Quy nạp dựa trên KNN bằng skearn
- Quy nạp lặp bằng skearn

* Áp dụng các mô hình đã học vào dữ liệu kiểm tra chưa hoàn thiện

----

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Tải và khám phá dữ liệu

In [3]:
import pandas as pd
# Hoặc tải dữ liệu titanic đã được chia thành tập dữ liệu huấn luyện và tập dữ liệu kiểm tra theo https://www.kaggle.com/c/titanic/data
# Nhưng dữ liệu kiểm tra của kaggle không có nhãn
# Do đó, chúng ta sẽ tải toàn bộ dữ liệu từ kho dữ liệu rồi sau đó phân tách chúng
titanic_data = pd.read_csv("https://www.openml.org/data/get_csv/16826755/phpMYEkMl.csv", na_values=['?']) #yo
titanic_data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

Giá trị được coi là "bị thiếu"

Có nhiều cách để biểu diễn các giá trị bị thiếu trong cả tệp tập dữ liệu và python pandas.

Các giá trị bị thiếu trong dữ liệu có thể là các mục trống, hoặc '?', hoặc một ký tự khác mà người thu thập dữ liệu đã đồng ý để biểu diễn dữ liệu chưa được quan sát. Trong trường hợp này là '?' -- biết được điều này, chúng tôi cho pandas biết những gì cần coi là giá trị bị thiếu thông qua na_values=['?'].

Ở "đầu kia", pandas có thể biểu diễn các giá trị bị thiếu theo nhiều cách khác nhau. Như có thể thấy ở trên, "NaN" là ký hiệu giá trị bị thiếu mặc định, tuy nhiên, chúng ta cần có khả năng dễ dàng phát hiện giá trị này với dữ liệu thuộc các kiểu khác nhau: dấu phẩy động, số nguyên, boolean và đối tượng chung. Tuy nhiên, trong nhiều trường hợp, một số dạng khác có thể tham chiếu đến các giá trị bị thiếu như None "bị thiếu" hoặc "không khả dụng", "NA" hoặc (-)inf.

In [4]:
# Hãy bỏ qua một số tính năng mà chúng ta sẽ không xem xét ở đây.
titanic_data.drop(['name','ticket', 'embarked', 'boat' ,'body' ,'home.dest'], axis=1, inplace=True)

Bây giờ chúng ta sẽ chia dữ liệu để đào tạo và kiểm tra các tập hợp con vì CHỈ dữ liệu đào tạo sẽ được sử dụng để học các bộ lọc sau đó các mô hình đã học được sẽ được áp dụng cho dữ liệu kiểm tra.

In [5]:
from sklearn.model_selection import train_test_split
y=titanic_data['survived']
X=titanic_data.drop(['survived'], axis=1)
X_titanic_train, X_titanic_test, y_titanic_train, y_titanic_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
#Bây giờ nếu chúng ta thực hiện phân loại, nó có thể không hoạt động với hầu hết các bộ phân loại
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
#classifier=SVC()
classifier.fit(X_titanic_train, y_titanic_train)

# There is a problem that some features contain string values, namely the features "sex" and "cabin", so lets encode these features

In [6]:
# Chúng ta cần sklearn được nâng cấp để chấp nhận các tham số cho bộ mã hóa
import sklearn
!pip install -U scikit-learn
print('Phiên bản scikit-learn là {}.'.format(sklearn.__version__))

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in c:\users\msi gaming\appdata\roaming\python\python313\site-packages (1.5.2)
Collecting scikit-learn
  Downloading scikit_learn-1.7.2-cp313-cp313-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in d:\anaconda3\lib\site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.8.0 in d:\anaconda3\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in d:\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)
Downloading scikit_learn-1.7.2-cp313-cp313-win_amd64.whl (8.7 MB)
   ---------------------------------------- 0.0/8.7 MB ? eta -:--:--
   --- ------------------------------------ 0.8/8.7 MB 9.4 MB/s eta 0:00:01
   ---------------------------------------- 8.7/8.7 MB 29.6 MB/s eta 0:00:00
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.5.2
    Uninstalling scikit-learn-1.5.2:
      Successfully uninstalled scikit-learn-1.5.2
Successfully installed scikit-learn-1.7.2
Phiên bản scikit-learn là 1.5.2.

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\MSI Gaming\AppData\Roaming\Python\Python313\site-packages\~klearn'.
  You can safely remove it manually.
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
sklearn-compat 0.1.3 requires scikit-learn<1.7,>=1.2, but you have scikit-learn 1.7.2 which is incompatible.

In [ ]:
import numpy as np
# Mã hóa các đặc trưng phân loại bằng cách giữ nguyên các giá trị bị thiếu trong các đặc trưng chưa hoàn chỉnh
from sklearn.preprocessing import OrdinalEncoder
encoder_sex = OrdinalEncoder(handle_unknown = 'use_encoded_value', unknown_value=np.nan)
X_titanic_train_encoded=X_titanic_train.copy()
X_titanic_train_encoded['sex'] = encoder_sex.fit_transform(X_titanic_train_encoded['sex'].values.reshape(-1, 1))

#Bây giờ, hãy mã hóa đặc trưng Cabin chưa hoàn chỉnh
encoder_cabin = OrdinalEncoder(handle_unknown = 'use_encoded_value', unknown_value=np.nan) #Bạn có thể sử dụng cùng một bộ mã hóa cho cả hai, nhưng chúng tôi sử dụng hai bộ mã hóa để làm rõ hơn
X_titanic_train_encoded['cabin'] = encoder_cabin.fit_transform(X_titanic_train_encoded['cabin'].values.reshape(-1, 1).astype(str))
#lấy mã của giá trị "nan" cho đặc trưng phân loại cabin
cabin_nan_code=encoder_cabin.transform([['nan']])[0][0]
#print(cabin_nan_code)
#Bây giờ, hãy lấy lại các giá trị nan bị thiếu trong dữ liệu đã mã hóa
X_titanic_train_encoded['cabin'].replace(cabin_nan_code,np.nan,inplace=True)

## `X_titanic_train_encoded` is the encoded incomplete training data

In [8]:
#Check the types of the encoded data, no object features
X_titanic_train_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 916 entries, 1214 to 1126
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pclass  916 non-null    int64
 1   sex     916 non-null    float64
 2   age     729 non-null    float64
 3   sibsp   916 non-null    int64
 4   parch   916 non-null    int64
 5   fare    915 non-null    float64
 6   cabin   204 non-null    float64
dtypes: float64(4), int64(3)
memory usage: 57.2 KB

In [ ]:
# As the data has no strings/object snow, let's try performing classification using the encoded data
classifier.fit(X_titanic_train_encoded, y_titanic_train)

## Note the error:ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

We need to handle the missing values before performing the classification.

In [9]:
print("The number of missing values ")
print(X_titanic_train_encoded.isnull().sum())

The number of missing values
pclass      0
sex         0
age       187
sibsp       0
parch       0
fare        1
cabin     712
dtype: int64

We have three incomplete features "age", "fare", and "cabin"

## The deletion approach

### Deleting the incomplete features

In [10]:
X_titanic_train_complete=X_titanic_train_encoded.copy()
X_titanic_train_complete.dropna(axis=1, inplace=True)
X_titanic_train_complete

      pclass  sex  sibsp  parch
1214       3  1.0      0      0
677        3  1.0      0      0
534        2  0.0      0      0
1174       3  0.0      8      2
864        3  0.0      0      0
...      ...  ...    ...    ...
1095       3  0.0      0      0
1130       3  0.0      0      0
1294       3  1.0      0      0
860        3  0.0      0      0
1126       3  0.0      0      0

[916 rows x 4 columns]

In [11]:
#Check the number of missing values
print(X_titanic_train_complete.isnull().sum())

pclass    0
sex       0
sibsp     0
parch     0
dtype: int64

### Deleting the incomplete instances

In [12]:
X_titanic_train_complete=X_titanic_train_encoded.copy()
X_titanic_train_complete.dropna(axis=0, inplace=True)
#The difference is axis=0 instead of 1
X_titanic_train_complete

     pclass  sex   age  sibsp  parch      fare  cabin
39        1  1.0  48.0      0      0   50.4958   14.0
30        1  1.0  45.0      0      0   35.5000  145.0
242       1  0.0  33.0      0      0   27.7208    0.0
136       1  1.0  53.0      0      0   28.5000   68.0
3         1  1.0  30.0      1      2  151.5500   61.0
..      ...  ...   ...    ...    ...       ...    ...
189       1  1.0  29.0      0      0   30.0000  113.0
252       1  1.0  61.0      1      3  262.3750   35.0
21        1  0.0  47.0      1      1   52.5542  101.0
276       1  1.0  57.0      1      0  146.5208   42.0
343       2  1.0  34.0      0      0   13.0000  112.0

[186 rows x 7 columns]

## Notice the reduction in the number of instances

Another important point for the instance deletion approach is that there is a need to remove the target values (from y_train) that correspond to the incomplete (deleted) data instances

In [13]:
#Check the number of missing values
print(X_titanic_train_complete.isnull().sum())

pclass    0
sex       0
age       0
sibsp     0
parch     0
fare      0
cabin     0
dtype: int64

The deletion approach has several drawbacks. It reduces the availlable data, which limits the learning ability, especially when there are many missing values.

Furthermore, the approach of deleting incomplete instances is not practical for test data: we really want to know the answer!

## Imputation using `pandas`

### Simple imputation (`pandas`)

In [14]:
#Mean for numeric values
X_titanic_data_complete=X_titanic_train_encoded.copy()
X_titanic_data_complete['age']=X_titanic_data_complete['age'].fillna(X_titanic_data_complete['age'].mean())
X_titanic_data_complete['fare']=X_titanic_data_complete['fare'].fillna(X_titanic_data_complete['fare'].mean())
X_titanic_data_complete['cabin']=X_titanic_data_complete['cabin'].fillna(X_titanic_data_complete['cabin'].mean())
# Show the number of missing values
print(X_titanic_data_complete.isnull().sum())

pclass    0
sex       0
age       0
sibsp     0
parch     0
fare      0
cabin     0
dtype: int64

In [15]:
X_titanic_data_complete.head()

      pclass  sex        age  sibsp  parch     fare     cabin
1214       3  1.0  29.102309      0      0   8.6625  73.27451
677        3  1.0  26.000000      0      0   7.8958  73.27451
534        2  0.0  19.000000      0      0  26.0000  73.27451
1174       3  0.0  29.102309      8      2  69.5500  73.27451
864        3  0.0  28.000000      0      0   7.7750  73.27451

## "interpolation" (`pandas`)

In [16]:
X_titanic_data_complete = X_titanic_train_encoded.copy()
X_titanic_data_complete = X_titanic_data_complete.interpolate()
#The output is 'numpy.ndarray' so we convert it to dataframe for consistency
X_titanic_train_complete = pd.DataFrame(X_titanic_train_complete)
print(X_titanic_train_complete.isna().sum())

pclass    0
sex       0
age       0
sibsp     0
parch     0
fare      0
cabin     0
dtype: int64

## Imputation using `sklearn`

### Simple imputation (`sklearn`)

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
X_titanic_train_complete = imputer.fit_transform(X_titanic_train_encoded)
#The output is 'numpy.ndarray' so we convert it to dataframe for consistency
X_titanic_train_complete=pd.DataFrame(X_titanic_train_complete, columns=X_titanic_train_encoded.columns)
print("The number of missing values :\n", X_titanic_train_complete.isnull().sum())

In [19]:
X_titanic_train_encoded

      pclass  sex   age  sibsp  parch     fare  cabin
1214       3  1.0   NaN      0      0   8.6625    NaN
677        3  1.0  26.0      0      0   7.8958    NaN
534        2  0.0  19.0      0      0  26.0000    NaN
1174       3  0.0   NaN      8      2  69.5500    NaN
864        3  0.0  28.0      0      0   7.7750    NaN
...      ...  ...   ...    ...    ...      ...    ...
1095       3  0.0   NaN      0      0   7.6292    NaN
1130       3  0.0  18.0      0      0   7.7750    NaN
1294       3  1.0  28.5      0      0  16.1000    NaN
860        3  0.0  26.0      0      0   7.9250    NaN
1126       3  0.0  28.0      0      0   7.8958    NaN

[916 rows x 7 columns]

## The default strategy for sklearn simple imputer is the "mean", you can change it using the strategy parameter

In [ ]:
imputer = SimpleImputer(strategy="median")
X_titanic_train_complete = imputer.fit_transform(X_titanic_train_encoded)
#The output is 'numpy.ndarray' so we convert it to dataframe for consistency
X_titanic_train_complete=pd.DataFrame(X_titanic_train_complete, columns=X_titanic_train_encoded.columns)
print("The number of missing values :\n", X_titanic_train_complete.isnull().sum())

## kNN imputer (`sklearn`)

In [ ]:
from sklearn.impute import KNNImputer
imputer = KNNImputer()
X_titanic_train_complete = imputer.fit_transform(X_titanic_train_encoded)
#The output is 'numpy.ndarray' so we convert it to dataframe for consistency
X_titanic_train_complete=pd.DataFrame(X_titanic_train_complete, columns=X_titanic_train_encoded.columns)
print("The number of missing values :\n", X_titanic_train_complete.isnull().sum())

In [ ]:
#The default k for the KNN imputer is 5, you can change it as follows:
imputer = KNNImputer(n_neighbors=2)
# etc etc...

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imputer = IterativeImputer()
X_titanic_train_complete = imputer.fit_transform(X_titanic_train_encoded)
#The output is 'numpy.ndarray' so we convert it to dataframe for consistency
X_titanic_train_complete=pd.DataFrame(X_titanic_train_complete, columns=X_titanic_train_encoded.columns)
print("The number of missing values :\n", X_titanic_train_complete.isnull().sum())

You can reset the default parameters of the iterative imputer. For example, you can set the number of iterations. Moreover, you can specify the estimator for estimating the missing values.

In [ ]:
# Lets use DT as an estimator
from sklearn.tree import DecisionTreeRegressor
imputer = IterativeImputer(estimator=DecisionTreeRegressor())
X_titanic_train_complete = imputer.fit_transform(X_titanic_train_encoded)
#The output is 'numpy.ndarray' so we convert it to dataframe for consistency
X_titanic_train_complete=pd.DataFrame(X_titanic_train_complete, columns=X_titanic_train_encoded.columns)
print("The number of missing values :\n", X_titanic_train_complete.isnull().sum())

## Applying the learned models to incomplete test data

In [ ]:
#The learnt encoder_sex should be used to encode the test data, NOTE there is NO fit here, just transform
X_titanic_test_encoded=X_titanic_test.copy()
X_titanic_test_encoded['sex'] = encoder_sex.transform(X_titanic_test_encoded['sex'].values.reshape(-1, 1))

#The learnt encoder2 should be used to encode the test data, NOTE there is NO fit here, just transform
X_titanic_test_encoded['cabin'] = encoder_cabin.transform(X_titanic_test_encoded['cabin'].values.reshape(-1, 1).astype(str))
#Now, retrive the nan values to be missing in the encoded data
X_titanic_test_encoded['cabin'].replace(cabin_nan_code,np.nan,inplace=True)

Second, use the learned imputer to estimate the missing values in the test data

In [ ]:
print("The number of missing values in the test data before imputation :\n", X_titanic_test_encoded.isnull().sum())
X_titanic_test_complete = imputer.transform(X_titanic_test_encoded)
X_titanic_test_complete=pd.DataFrame(X_titanic_test_complete, columns=X_titanic_test_encoded.columns)
print("The number of missing values in the test data after imputation :\n", X_titanic_test_complete.isnull().sum())

Finally, we can perform the classification using the imputed complete data.

In [24]:
#We use f-measure because the classes are not balanced
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(random_state=0)
#classifier=SVC()
classifier.fit(X_titanic_train_complete, y_titanic_train)
print("F1 score after imputation = ", f1_score(classifier.predict(X_titanic_test_complete), y_titanic_test))

ImportError: cannot import name '_check_n_features' from 'sklearn.utils.validation' (C:\Users\MSI Gaming\AppData\Roaming\Python\Python313\site-packages\sklearn\utils\validation.py)