# Code Slide PTDL-02-PythonProgramming

## Programming

### Python Hello World

In [1]:
print("Hello world")

Hello world

### Python Syntax

In [2]:
#comment

In [3]:
# Indentation the spaces at the beginning of a code line 4 spaces
score = 80
if score >=60 :
    print("Pass")

Pass

### Python Variables

In [5]:
x = 2
print(x)
price = 2.5
print(price)
word = 'Hello'
print(word)
word = 'Hello'
print(word)
word = "Hello"
print(word)
word = '''Hello'''
print(word)

2
2.5
Hello
Hello
Hello
Hello

In [6]:
x = 2
y = x + 1
print(y)

3

### Python version

In [8]:
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.13.5

### Python Data Types

In [11]:
x = "Hello World" #str
x = 2             #int
x = 2.5           #float
x = 7j            #complex

In [12]:
x = ["apple", "banana", "cherry"]             #list
x = ("apple", "banana", "cherry")             #tuple
x = range(6)                                  #range
x = {"name" : "Tom", "age" : 20}              #dict
x = {"apple", "banana", "cherry"}             #set
x = frozenset({"apple", "banana", "cherry"})  #frozenset

In [13]:
x = True                                      #bool
x = b"Hello"                                  #bytes
x = bytearray(5)                              #bytearray
x = memoryview(bytes(5))                      #memoryview
x = None                                      #NoneType

### Python Casting

In [14]:
x = str(3)
y = int(3)
z = float(3)
print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

### Python Numbers

In [16]:
x = 2 
y = 3.14
z = 7j
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.14 <class 'float'>
7j <class 'complex'>

### Python Arithmetic Operators

In [18]:
print('7+2=',7+2)
print('7-2=',7-2)
print('7*2=',7*2)
print('7/2=',7/2)
print('7//',7//2)
print('7%2',7%2)
print('7**2',7**2)

7+2= 9
7-2= 5
7*2= 14
7/2= 3.5
7// 3
7%2 1
7**2 49

### Python Booleans: True or False

In [21]:
print(3>2)
print(3==2)
print(3<2)

True
False
False

### EX

In [24]:
height_cm = 170
weight_kg = 60
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))
print ("Your BMI is: " + str(round(BMI,1)))

Your BMI is: 20.8

In [25]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

### Future Value

In [28]:
pv = 100
r = 0.1 
n = 7 
fv = pv * ((1+(r))**n)
print(round(fv,2))

194.87

In [30]:
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7 

future_value = amount * ((1 + (0.01 * interest)) ** years)
print( round(future_value, 2))

194.87

## Data Structures

### Python Data Types

In [31]:
x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple
x = {"name" : "Tom", "age" : 20} #dict
x = {"apple", "banana", "cherry"} #set

#### Lists []

In [32]:
x = [60,70,80,90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

#### Tuples ()

In [33]:
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

#### Sets {}

In [35]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

#### Dictionary {key : value}

In [36]:
k = { 'EN':'English','FR':'French' }
print(k['EN'])

English

### Python for Finance Applications

In [37]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [40]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),("Inventory", 1003))
for account in accounts:
    print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [41]:
# Python Sets
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
    print("Account number", new_account_number, "is not in use.")

Account number 1004 is not in use.

In [43]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
    print("Account number:", account_number)
    print("Account name:", account_info["name"])
    print("Account balance:", account_info["balance"])
    print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

## Control Logic and Loops

### Python if

In [44]:
score = 80
if score >=60 :
    print("Pass")

Pass

### Python if else

In [46]:
score = 80
if score >=60 :
    print("Pass")
else: 
    print("Fail")

Pass

### Python if elif else

In [47]:
score = 95
if score >= 90 :
    print("A")
elif score >=60 :
    print("Pass")
else:
    print("Fail")

A

In [52]:
score = 90
grade = ""
if score >=90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "E"
print(grade)

A

### Python for Loops

In [53]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [54]:
for i in range(1,10):
    for j in range(1,10):
        print(i, ' * ' , j , ' = ', i*j)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

### Python while loops

In [55]:
age = 10
while age < 20:
    print(age)
    age = age + 1

10
11
12
13
14
15
16
17
18
19

## Python Functions

In [56]:
def getfv(pv, r, n):
    fv = pv * (( 1+(r)) ** n)
    return fv
fv = getfv(100, 0.1, 7)
print(round(fv,2))

194.87

## Python Classes/Objects

### Python class

In [59]:
class MyClass:
    x = 5

c1 = MyClass()
print(c1.x)

5

In [60]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
p1 = Person("Alan", 20)
print(p1.name)
print(p1.age)

Alan
20

In [64]:
class Person:  # Định nghĩa một lớp tên Person
    def __init__(self, name, age):  # Hàm khởi tạo, chạy khi tạo đối tượng
        self.name = name  # Thuộc tính instance
        self.age = age

    def myfunc(self):  # Phương thức (method) của lớp
        print("Hello my name is " + self.name)


# Tạo một đối tượng (instance) từ lớp Person
p1 = Person("Alan", 20)

# Gọi phương thức myfunc()
p1.myfunc()

Hello my name is Alan

In [65]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()
print(p1.name)
print(p1.age)

Hello my name is Alan
Alan
20

In [69]:
class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str

## Python Modules

### Modules

In [74]:
# mymodule.py
def greeting(name):
    print("Hello, " + name)

# import mymodule
# mymodule.greeting("Alan")

## Python File Input / Output

In [75]:
# Python File Input / Output
with open('myfile.txt', 'w') as file:
    file.write('Hello World\nThis is Python File Input Output')
with open('myfile.txt', 'r') as file:
    text = file.read()
    print(text)

Hello World
This is Python File Input Output

In [76]:
# Python File Input / Output
filename = 'mymodule.py'

# Ghi file
with open(filename, 'w') as file:
    text = '''def greeting(name):
    print("Hello, " + name)
'''
    file.write(text)

# Đọc file
with open(filename, 'r') as file:
    text = file.read()

print(filename)
print(text)

mymodule.py
def greeting(name):
    print("Hello, " + name)

### Python main() function

In [77]:
#Python main() function
def main():
    print("Hello World!")

if __name__ == "__main__":
    main()

Hello World!

## Files and Exception Handling

### Python Files (File Handling)

In [78]:
f = open("myfile.txt", "w")
f.write("Hello World")
f.close()

f = open("myfile.txt", "r")
text = f.read()
print(text)
f.close()

Hello World

In [79]:
# Python File Input / Output
with open('myfile.txt', 'w') as file:
    file.write('Hello World')
with open('myfile.txt', 'r') as file:
    text = file.read()
print(text)

Hello World

## Python Files

In [80]:
# Python File Input / Output
with open('myfile.txt', 'w') as file:
    file.write('Hello World\nPython File IO')

with open('myfile.txt', 'r') as file:
    text = file.read()

print(text)

Hello World
Python File IO

In [81]:
# Python File Input / Output
with open('myfile.txt', 'a+') as file:
    file.write('\n' + 'New line')

with open('myfile.txt', 'r') as file:
    text = file.read()
print(text)

Hello World
Python File IO
New line

### Python OS, IO, files, and Google Drive

In [83]:
import os

cwd = os.getcwd()
print(cwd)

C:\Users\MSI Gaming\Desktop\lab2_DoHuuLoc_3123410201

In [85]:
os.listdir(cwd)

['.ipynb_checkpoints',
 'myfile.txt',
 'mymodule.py',
 'slide_PTDL-02-PythonProgramming_code.ipynb']

In [ ]:
from google.colab import files

with open('io_file_myday.txt', 'w') as f:
    f.write('Google Colab File Write Text some content Myday')

import time
time.sleep(1) # time sleep 1 second

files.download('io_file_myday.txt')
print('downloaded')

In [ ]:
from google.colab import files
uploaded = files.upload()

for fn in uploaded.keys():
    print('User uploaded file "{name}" with length {length} bytes'.format(name=fn, length=len(uploaded[fn])))

In [ ]:
import os
if os.path.exists("myfile.txt"):
    os.remove("myfile.txt")
    print("myfile.txt removed")

else:
    print("The file does not exist")

In [92]:
import os
os.listdir()
os.mkdir("myfolder1")
os.listdir()
os.rmdir("myfolder1")
os.listdir()

['.ipynb_checkpoints',
 'myfile.txt',
 'mymodule.py',
 'slide_PTDL-02-PythonProgramming_code.ipynb']

## Python Try Except

### try: except:

In [95]:
#Python try except
try:
    print(x)
except:
    print("Exception Error")

(10, 20, 30, 40, 50)

### Python try: except: finally:

In [96]:
#Python try except finally
try:
    print("Hello")
except:
    print("Exception Error")
finally:
    print("Finally process")

Hello
Finally process

### Python try: except: else:`

In [97]:
#Python try except else
try:
    print("Hello")
except:
    print("Exception Error")
else:
    print("No exception")

Hello
No exception

### Python try: except: else: finally:

In [98]:
try:
    print("Hello")

except:
    print("Exception Error")
else:
    print("No exception")
finally:
    print("Finally process")

Hello
No exception
Finally process

In [99]:
try:
    price = float(input("Enter the price of the stock (e.g. 10):"))
    shares = int(input("Enter the number of shares (e.g. 2):"))
    total = price * shares
except Exception as e:
    print("Exception error:", str(e))
else:
    print("The total value of the shares is:", total)
finally:
    print("Thank you.")

Enter the price of the stock (e.g. 10):

Exception error: could not convert string to float: ''
Thank you.

In [100]:
try:
    file = open("myfile.txt")
    file.write("Python write file")
    print("file saved")
except:
    print("Exception file Error")

Exception file Error

In [101]:
try:
    file = open("myfile.txt")
    file.write("Python write file")
    print("file saved")
except:
    print("Exception file Error")
finally:
    file.close()
    print("Finally process")

Exception file Error
Finally process

In [104]:
try:
    file = open("myfile.txt", 'w')
    file.write("Python write file")
    print("file saved")
except:
    print("Exception file Error")
finally:
    file.close()
    print("Finally process")

file saved
Finally process

# END